.exemplo{
  color: white;
  text-align: center;
}
.exemplo-item{
  /* width: 33.333%;
  height: 150px; */
  display: block; /* Display block é o padrão, uma vez q um elementa estaja como block, ele OCUPA A LINHA INTEIRO!!! não é recomendado q se tenha um elemento do lado do outro*/
  /*Elementos que são display block quando não difinidos uma largura pra eles, eles ocupam o espaço TODO.*/
  width: 33.333%;
  height: 150px;
}
.primeiro{
  background-color: orange;
}
.segundo{
  background-color: aquamarine;
  margin-left: auto; /*O auto faz com q ele fique colado no lado direito, preenchendo do lado esquerdo...*/
}
.terceiro{
  background-color: pink;
  margin-left: auto;
  margin-right: auto;
  /*Por incrivel q pareça, ele divide a margin e centraliza 0-0*/
}